@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    /* main colors */
    --primary-color: #01C2EB;
    --secondary-color: #007D99;
    --accent1-color: #E67007;
    --accent2-color: white;

    /* fonts */
    --heading-font: "Oswald";
    --paragraph-font: Lato, "Bruno Ace", sans-serif;

    /* main colors */
    --headline-color-on-white: var(--primary-color);
    /* headlines on a white background */
    --headline-color-on-color: var(--accent1-color);
    /* headlines on a colored background */
    --paragraph-color-on-white: var(--secondary-color);
    /* paragraph text on a white background */
    --paragraph-color-on-color: var(--accent1-color);
    /* paragraph text on a colored background */
    --paragraph-background-color: var(--secondary-color);
    --nav-link-color: var(--secondary-color);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--secondary-color);
}

body {
    background-color: var(--primary-color);
    font-family:"Oswald", "Bruno Ace", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#logo_link {
    padding-top: 5px;
}
.card-img {
    border: 10px solid var(--accent1-color)
}
.river-card, .camping-card, .rapids-card {
    margin: 200px 0;   
}

h2 {
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: var(--secondary-color)
}

.logo,
.icon {
    width: 80px;
    padding-top: 10px;
}

nav a {
    text-align: center;
    color: var(--accent1-color);
    text-decoration: none;
    padding: 35px
}

nav a:hover {
background-color:var(--secondary-color); 
    color: var(--primary-color)
}

#hero-img {
    width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#home-title {
    font-family:'Oswald','Bruno Ace', sans-serif ;
    color: var(--accent1-color);
    font-size: 2em;
    margin-top: 10px;
    
}

.h4 {
    color: var(--accent2-color)
}

.button-box {
    text-align: center;
}

.book,
.join {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color)
}


main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: var(--paragraph-background-color)
}

.msg {
    background-color: var(--nav-hover-link-color);
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: var(--accent1-color)
}

.msg p {
    color: var(--secondary-color);
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: var(--secondary-color);
    padding: 25px 50px;
}

footer a {
    color: var(--nav-hover-link-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--secondary-color)
}
footer p{
    font-size:1.2em;
}

footer p a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color)
}

footer.social img {
    padding-top: 15px;
}