body {
    margin: 0;
    font-size: 0;
}

.banner{
    width: 100%;
}

#images img {
    width: 20%;
    border-radius: 50%;
    border: 10px solid rgb(59, 58, 58);
}

#images{
    background-color: gray;
    text-align: center;
    padding: 1%;
}

.person{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
}